body {
  background: #eff0eb;
  background-image: url("../bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

.blockquote {
    background-color: lightgray;
    border-left: 10px solid gray;
    margin: 15px 0;
    padding: 15px;
}
blockquote p {
    margin-bottom: 10px;
}
blockquote cite {
    color: #a1a1a1;
    display: block;
    font-size: 14px;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}



